<?xml version="1.0" encoding="UTF-8"?>

<!-- Regular web launch file -->
<launch>
    <rosparam command="load" file="$(env HOME)/keys.yaml" />
    <include file="$(find freenect_launch)/launch/freenect.launch" />
    <node name="hopper_emotion_core" pkg="hopper_emotion_core" type="EmotionController.py"/>
    <node name="hopper_emotion_identificator" pkg="hopper_emotion_core" type="FaceIdentificator.py"/>
    <node name="hopper_emotion_tracker" pkg="hopper_emotion_core" type="EmotionSwitchDetector.py"/>
    <node name="hopper_emotion_reaction_controller" pkg="hopper_emotion_core" type="EmotionalReactionController.py"/>
    <node name="hopper_emotion_web" pkg="hopper_emotion_web" type="app.js" />
    <node name="hopper_emotion_tracker_database" pkg="hopper_emotion_core" type="FaceApiUsersDatabase.py"/>
    <node name="hopper_controller" pkg="hopper_controller" type="hexapod_controller.py" respawn="true" respawn_delay="5"/>
</launch>

