<?xml version="1.0" encoding="UTF-8"?>

<!-- Regular web launch file -->
<launch>
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
        <remap from="/usb_cam/image_raw" to="/camera/rgb/image_color"/>
    </node>
    <rosparam command="load" file="$(env HOME)/keys.yaml" />
    <node name="hopper_emotion_core" pkg="hopper_emotion_core" type="EmotionController.py"/>
    <node name="hopper_emotion_identificator" pkg="hopper_emotion_core" type="FaceIdentificator.py"/>
    <node name="hopper_emotion_tracker" pkg="hopper_emotion_core" type="EmotionSwitchDetector.py"/>
    <node name="hopper_emotion_tracker_database" pkg="hopper_emotion_core" type="FaceApiUsersDatabase.py"/>
    <node name="hopper_emotion_web" pkg="hopper_emotion_web" type="app.js" />
</launch>

