html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Arial";
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 45px;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #111;
}

.pageContainer {
    position: absolute;
    width: 100%;
    top: 45px;
    bottom: 0;
}
