<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="model" default="$(find hopper_description)/urdf/hopper.xarco"/>
    <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
    <node name="join_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <param name="use_gui" value="true"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hopper_description)/rviz/urdf.rviz" required="true" />
</launch>
