<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="r2d2" default="true" />
    <node name="hopper_face" pkg="hopper_face" type="face_controller.py" respawn="true"/>
    <rosparam command="load" file="$(find hopper_controller)/params/hexapod.yaml" />
    <node name="keep_alive_node" pkg="hopper_keep_alive" type="keep_alive_node.py" required="true"/>
    <node name="hopper_body_controller" pkg="hopper_controller" type="body_controller_node.py"/>
    <node name="hopper_ik_controller" pkg="hopper_controller" type="ik_controller_node.py"/>
    <node name="hopper_controller" pkg="hopper_controller" type="hexapod_controller.py" respawn="true" >
        <param name="publish_odometry_to_tf" value="true"/>
        <param name="sound_on" value="false"/>
        <param name="use_height_adjust" value="true"/>
    </node>
    <node name="hopper_web_interface" pkg="hopper_web_interface" type="app.js" />
    <node name="hopper_speech" pkg="hopper_speech" type="hopper_speech_node.py" unless="$(arg r2d2)"/>
    <node name="hopper_speech" pkg="hopper_speech" type="r2d2_speak.py" if="$(arg r2d2)"/>

    <node name="hopper_cloud_speech" pkg="hopper_speech" type="cloud_speech.py"/>
    <node name="hopper_feet_sensors" pkg="hopper_feet_sensors" type="feet_sensor_controller.py" respawn="true"/>
    <node name="hopper_system_telemetry" pkg="hopper_system_telemetry" type="hopper_system_telemetry.py"/>
    <!-- <node name="hacklab_speech" pkg="hopper_speech" type="hacklab_speak.py"/> -->
    <node name="hopper_battery_monitor" pkg="hopper_speech" type="battery_status_monitor.py"/>
    <node name="hopper_idle_animation" pkg="hopper_idle_animation" type="idle_animation_controller.py"/>
    <node name="hopper_high_five_controller" pkg="hopper_climber" type="high_fiver.py"/>
    <node name="hopper_abudction_detector" pkg="hopper_idle_animation" type="robot_abudction_detector.py"/>
    <include file="$(find hopper_bringup)/launch/sensors/face_tracking.launch"/>
    <include file="$(find hopper_bringup)/launch/sensors/laser_wake.launch" />
    <include file="$(find hopper_bringup)/launch/description/description.launch" />
    <include file="$(find hopper_bringup)/launch/sensors/laser_assemble.launch" />
</launch>

