<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find hopper_bringup)/launch/remote/teleop.launch" />
    <include file="$(find hopper_bringup)/launch/remote/mapping.launch" />
    <node name="odometry_merger" pkg="hopper_navigation" type="odometry_merger.py"/>
    <node name="move_base" pkg="move_base" type="move_base">
        <rosparam file="$(find hopper_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find hopper_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find hopper_navigation)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find hopper_navigation)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find hopper_navigation)/config/base_local_planner_params.yaml" command="load" />
        <remap from="cmd_vel" to="hopper/cmd_vel"/>
    </node>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hopper_description)/rviz/navigation.rviz" required="true" />
</launch>
