<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" >
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="320" />
        <param name="image_height" value="240" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
        <remap from="/usb_cam/image_raw" to="/camera/rgb/image_color"/>
    </node>
    <node name="hopper_face_detection" pkg="hopper_face_detection" type="ros_faces.py" />
    <node name="hopper_face_follower" pkg="hopper_face_detection" type="face_follower.py" />
</launch>
